<div class="card">
    <div class="card-body">
      <h1> About </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus itaque quasi optio, vel excepturi distinctio deserunt neque deleniti quae, est tenetur esse dicta voluptate quidem voluptatibus culpa, quaerat accusantium ipsam!</P>
    </div>
</div>
