<div class="jumbotron mt-4">
    <h1 class="display-4"> Gestor de tareas </h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta molestiae maxime esse harum ex fugiat ab perspiciatis necessitatibus autem nostrum. Eum ullam, sunt debitis id neque nisi voluptatem impedit maxime?</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam velit, assumenda quas officia sit magnam, vitae, fuga magni dolore laborum a perspiciatis! Ut blanditiis libero modi temporibus quas, molestias vel?</p>
    <a href="http://robertweblab.com" class="btn btn-primary btn-lg"> robertweblab.com </a>
</div>
